<div class="card">
  <img src="./assets/images/angular-routing.png" class="card-img-top img-responsive center-block" alt="...">
  <!-- <img src="" class="" style="max-height:480px;padding-bottom:50px" /> -->
  <div class="card-header">
    <h1>{{ pageTitle }}</h1>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="card-text">Applied by: Shubhojit Roy<br>
        <p>
          @shubhojit <a href="https://twitter.com/royshubhojit">subo</a>
        </p>
      </div>
    </div>
  </div>
</div>
