<div class="card">
  <img src="./assets/images/angular-routing.png" class="card-img-top img-responsive center-block" alt="...">
  <!-- <img src="" class="" style="max-height:480px;padding-bottom:50px" /> -->
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <div class="container-fluid">


      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Deborah Kurata</h3>
      </div>

      <div class="text-center">@deborahkurata</div>
      <div class="text-center">
        <a href="http://www.bit.ly/DeborahKsBlog">www.bit.ly/DeborahKsBlog</a>
      </div>
    </div>
  </div>
</div>
